<div class="mpinHeaderBig">
	<div id="mpinLogo"></div>
</div>

<div class="mpinHeaderRow mpHeaderPadd mpHeaderTable">
	<div class="mpinTextGreenBorder">
		<div class="mpinGreenText">
			{{txt "mobile_header_txt1"}}
			<span class="mpinColorRed">
				{{txt "mobile_header_donot"}}
			</span>
			{{txt "mobile_header_txt3"}}
		</div>
		<div class="mpinMobileIcon mobIconRight">
		
		</div>
	</div>
</div>

<div class="mpinMain mpNoHeight">
	<div class="mpinBtnBox mpNoPadding">
		
		<!-- BIG BTN -->
		<div class="mpinButton mpGreen mpFontNormal">
			<div class="mpBorderWhite">
				{{txt "signin_mobile_btn_text"}}
			</div>
			<div class="mpbtnPadding">
				{{txt "mobileAuth_text1"}}
				<div id="mpinAccessNumber"></div>
			</div>
			<i class="mpinInfoCenter" id="mpin_access_help"></i>
			<div class="mpbtnExpire" id="mpin_seconds"></div>
		</div>
		
		<div class="mpinButton mpGreen" id="mpin_action_setup">
			<span class="mpbtnIconArrow"></span>
			{{txt "home_button_getMobile"}}
		</div>
		
		
		
		<div class="mpinButton mpBtnOnlyBlue" id="mpin_desktop">
			I <span class="mpinColorRed">DO</span> trust this computer
		</div>
	</div>
</div>


<div class="mpinFooter mpinFooterHome">
	<info class="mpinHelpInfo" id="mpin_help">
		<i></i>
		{{txt "home_hlp_link"}}
	</info>
</div>
