<!-- User section -->

<header id="header">
  <div id="mpinLogo"></div>
</header>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
      <div class="congrats">
        {{hlp 'setupReady_header' }}
      </div>

      <div class="identityBodyText">
          <p>
            {{hlp 'setupReady_text1' }}
                  <span class="email">
                    {{data.email}}
                  </span>
          </p>
          <p>
            {{hlp 'setupReady_text2' }}
          </p>
          <p>
            {{hlp 'setupReady_text3' }}
          </p>
      </div>
  </div>

  <div id="buttonsContainer">
      <div class="mpinBtn" id="mpin_action_setup">
          <span class="iconArrow"></span>
          <span class="btnLabel">{{hlp 'setupReady_button_go' }}</span>
      </div>
      <div class="mpinBtn" id="mpin_action_resend">
          <span class="iconArrow"></span>
          <span class="btnLabel">{{hlp 'setupReady_button_resend' }}</span>
      </div>
  </div> 

</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>