<div class="mpinHeaderRow">
	{{txt "settings_title"}}
</div>

<div class="mpinMain">
	<div class="mpinCenter mpinCenter5">
		{{txt "account_delete_question"}}
		
		<p class="mpinIdentityText mpPaddTop10">
			{{ data.name }}
		</p>	
	</div>
	
	<div class="mpinFooterRow">
		<div class="mpinBtnBox">
			<div class="mpinButton mpinWarnBtn mpinBtnClick" id="mpin_deluser_btn">
				{{txt "account_delete_button2"}}
			</div>

			<div class="mpinButton mpinBtnClick" id="mpin_cancel_btn">
				{{txt "account_button_cancel2"}}
			</div>
		</div>
	
</div>
</div>

