<div class="mpinHeader">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow">
	{{txt "deactivated_header"}}
</div>

<div class="mpinMain mpPaddTop10">
	<div class="mpinCenter mpinCenter5">
	
		<p class="mpinIdentityText">
			{{ data.userId }}
		</p>
		
		{{txt "deactivated_text1"}}
		<p class="mpinInfoText">
			{{txt "deactivated_text2"}}
		</p>
    </div>
	
	<div class="mpinBtnBox mpinBtnDown">
		<div class="mpinButton mpinButtonDark mpinBtnClick" id="mp_action_go">
			{{txt "deactivated_button_register"}}
		</div>
	</div>
</div>

<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer" id="mpin_helphub"></div>
</div>