<div class="mpinHeaderBig">
	<div id="mpinLogo"></div>
</div>

<div class="mpinHeaderBig mpPaddTop10 mpPaddBot10">
	{{txt "home_intro_text"}}
</div>

<div class="mpinMain mpPaddTop10"> 
	<div class="mpinBtnBox">
	
		<div class="mpinButton mpGreen mpBtnHome" id="mpin_mobile">
			{{txt "signin_mobile_btn_text"}}
			<p>
				{{txt "signin_btn_mobile2"}}
			</p>
			
		</div>
		
		<div class="mpinCenter mpinCenter5 mpHomeTxt mpinBold mpinItalic">
			{{txt "home_txt_between_btns"}}
		</div>
		

		<div class="mpinButton mpBtnHome" id="mpin_desktop">
			{{txt "signin_btn_desktop1"}}
			<p>
			{{txt "signin_btn_desktop2"}}
			</p>
		</div>
	</div>
</div>

<div class="mpinFooter mpinFooterHome">
	<info class="mpinHelpInfo" id="mpin_help">
		<i></i>
		{{txt "home_hlp_link"}}
	</info>
</div>
