<!-- Home/Top Nav Bar -->
<div class="mpinHeader">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinTabMiddle clrGreen mpinBtm10">
<!--
	<div>
		{{txt "mobile_header_txt1"}}
		<span class="mpinColorRed">{{txt "mobile_header_donot"}}</span>
		{{txt "mobile_header_txt3"}}
	</div>
-->
	<div>
		<div id="homeIcon">
			<div id="mobileIcon"></div>
		</div>
	</div>
</div>

<div class="mpinMobileGrBtn mpinBtm10">
	<div class="mpinGrTxt" id="mpinDownWhite">
		{{txt "mobile_header_txt4"}}
	</div>
	<div class="mpinGrTxt">
		{{txt "mobile_header_access_number"}}:
		
		<span id="mpinAccessNumber">
		</span>

	</div>
	
	<div class="mpinMobileWhBtn" id="mpin_seconds">
		99 seconds
	</div>
</div>

<div class="mpinBtn mpinBtm10" id="mpin_action_setup">
    <span class="iconArrow"></span>
    <span class="btnLabel btnLabelArrow">
		{{txt "home_button_getMobile"}}<br>
		{{txt "home_button_getMobile1"}}
	</span>
</div>

<div class="mpinMobileGrBtn mpinBtm10" id="mpin_login_desktop">
    {{txt "landing_button_newuser"}}
	<!--
		I <span class="mpinColorRed">DO</span> trust this computer
	-->
</div>

	<info class="mpinHelpInfo" id="mpin_help">
		<i></i>
		{{txt "home_hlp_link"}}
	</info>


<div id="mpinFooter">
	<a href="#" class="mpinHelpHub" id="mpin_desktop_hub"></a>
    <div id="homeBtn">
    </div>
</div>