<div class="mpinHeaderRow">
	{{txt "settings_title"}}
</div>

<div class="mpinCenter mpinCenter5">
	<p class="mpinIdentityText">
		{{ data.name }}
	</p>
</div>

<div class="mpinFooterRow">

	<div class="mpinBtnBox">
		<div class="mpinButton mpinBtnClick" id="mpin_cancel_btn">
			{{txt "account_button_backToList2"}}
		</div>
		
		<div class="mpinButton mpinBtnClick" id="mpin_reactivate_btn">
			{{txt "account_button_reactivate2"}}
		</div>
		
		<div class="mpinButton mpinWarnBtn mpinBtnClick" id="mpin_deluser_btn">
			{{txt "account_button_delete2"}}
		</div>
	</div>
</div>