<div class="mpinHeaderRow">
	{{txt "settings_title"}}
</div>

<div class="mpinCenter mpinCenter5">
	<p class="mpinIdentityText">
		{{ data.name }}
	</p>
</div>

<div class="mpinFooterRow">

	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_deluser_btn">
			{{txt "account_button_delete"}}
		</div>
		
		<div class="mpinButton" id="mpin_reactivate_btn">
			{{txt "account_button_reactivate"}}
		</div>
		
		<div class="mpinButton mpBtnOnlyGreen" id="mpin_cancel_btn">
			{{txt "account_button_backToList"}}
		</div>
	
	</div>
</div>